In [42]:
set1=set(['red','blue'])
set2=set(['red','purple','green'])
set3=set1.union(set2)
set4=set1.intersection(set2)
set5=set1.difference(set2)
set1.issuperset(set4)

True

In [43]:
print(set4)
set5.issubset(set1)
set1.add('yellow')

{'red'}

In [18]:
for dis in set1:
    print(dis)

red
yellow
blue

In [20]:
print('{0}\n{1}'.format(set1,set2))

{'red', 'yellow', 'blue'}
{'red', 'green', 'purple'}

In [36]:
print(set1,'\n',set2)

{'red', 'yellow', 'blue'}
 {'red', 'green', 'purple'}

False

In [33]:
list1=[1,2,3,4]
list2=[5,6,7]
list1.extend(list2)
def prlist():
    print(list1)

In [34]:
print(list1)

[1, 2, 3, 4, 5, 6, 7]

In [35]:
ans=str(input("Please inout 1 thing into list1: "))
list1.append(ans)
prlist()
list1.remove(ans)
prlist()

Please inout 1 thing into list1: poom
[1, 2, 3, 4, 5, 6, 7, 'poom']
[1, 2, 3, 4, 5, 6, 7]

In [44]:
list3=[8,9,10]
list4=list1+list3
print(list4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [48]:
mytuple=(1,2)
for tuples in mytuple:
    print(tuples)

1
2

In [67]:
lista=['apple','orange','pineapple']
listb=[1,2,3,4,5]
lista[0]

'apple'

In [70]:
for lister in listb[1:5]:
#     the last number tell the range where it is allow to count it will not count the index on that last range but before and the first tell which index to start from
    print(lister)

2
3
4
5

In [69]:
for name,price in zip(lista,listb):
    print(name,'\t',price)

apple 	 1
orange 	 2
pineapple 	 3

In [81]:
MyDict={'poom':17,'peh':14}

In [82]:
MyDict['poom']

17

In [1]:
for i in range(10):#for loop
    print('hello',i)

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9

In [9]:
import pandas as pd
null=None
dictt={"ConfirmDate":"2020-05-03 00:00:00","No":"2969","Age":24,"Gender":"\u0e0a\u0e32\u0e22","GenderEn":"Male","Nation":"\u0e44\u0e17\u0e22","NationEn":"Thai","Province":"\u0e19\u0e23\u0e32\u0e18\u0e34\u0e27\u0e32\u0e2a","ProvinceId":25,"District":"\u0e08\u0e30\u0e41\u0e19\u0e30","ProvinceEn":"Narathiwat","Detail":None},{"ConfirmDate":"2020-05-03 00:00:00","No":"2968","Age":51,"Gender":"\u0e2b\u0e0d\u0e34\u0e07","GenderEn":"Female","Nation":"\u0e44\u0e17\u0e22","NationEn":"Thai","Province":"\u0e01\u0e23\u0e38\u0e07\u0e40\u0e17\u0e1e\u0e21\u0e2b\u0e32\u0e19\u0e04\u0e23","ProvinceId":1,"District":"\u0e1a\u0e36\u0e07\u0e01\u0e38\u0e48\u0e21","ProvinceEn":"Bangkok","Detail":None},{"ConfirmDate":"2020-05-03 00:00:00","No":"2967","Age":35,"Gender":"\u0e0a\u0e32\u0e22","GenderEn":"Male","Nation":"\u0e44\u0e17\u0e22","NationEn":"Thai","Province":"\u0e01\u0e23\u0e38\u0e07\u0e40\u0e17\u0e1e\u0e21\u0e2b\u0e32\u0e19\u0e04\u0e23","ProvinceId":1,"District":"\u0e04\u0e25\u0e2d\u0e07\u0e08\u0e31\u0e48\u0e19","ProvinceEn":"Bangkok","Detail":None},{"ConfirmDate":"2020-04-04 00:00:00","No":None,"Age":51,"Gender":"\u0e0a\u0e32\u0e22","GenderEn":"Male","Nation":"\u0e2a\u0e2b\u0e23\u0e32\u0e0a\u0e2d\u0e32\u0e13\u0e32\u0e08\u0e31\u0e01\u0e23","NationEn":"British","Province":"\u0e01\u0e23\u0e38\u0e07\u0e40\u0e17\u0e1e\u0e21\u0e2b\u0e32\u0e19\u0e04\u0e23","ProvinceId":1,"District":"","ProvinceEn":"Bangkok","Detail":null},{"ConfirmDate":"2020-05-02 00:00:00","No":"2966","Age":52,"Gender":"\u0e2b\u0e0d\u0e34\u0e07","GenderEn":"Female","Nation":"\u0e44\u0e17\u0e22","NationEn":"Thai","Province":"\u0e01\u0e23\u0e38\u0e07\u0e40\u0e17\u0e1e\u0e21\u0e2b\u0e32\u0e19\u0e04\u0e23","ProvinceId":1,"District":"\u0e1e\u0e23\u0e30\u0e19\u0e04\u0e23","ProvinceEn":"Bangkok","Detail":null},{"ConfirmDate":"2020-05-02 00:00:00","No":"2965","Age":52,"Gender":"\u0e0a\u0e32\u0e22","GenderEn":"Male","Nation":"\u0e44\u0e17\u0e22","NationEn":"Thai","Province":"\u0e01\u0e23\u0e38\u0e07\u0e40\u0e17\u0e1e\u0e21\u0e2b\u0e32\u0e19\u0e04\u0e23","ProvinceId":1,"District":"\u0e14\u0e34\u0e19\u0e41\u0e14\u0e07","ProvinceEn":"Bangkok","Detail":None},{"ConfirmDate":"2020-05-02 00:00:00","No":"2964","Age":21,"Gender":"\u0e2b\u0e0d\u0e34\u0e07","GenderEn":"Female","Nation":"\u0e44\u0e17\u0e22","NationEn":"Thai","Province":"\u0e20\u0e39\u0e40\u0e01\u0e47\u0e15","ProvinceId":42,"District":"\u0e16\u0e25\u0e32\u0e07","ProvinceEn":"Phuket","Detail":null},{"ConfirmDate":"2020-05-02 00:00:00","No":"2963","Age":58,"Gender":"\u0e2b\u0e0d\u0e34\u0e07","GenderEn":"Female","Nation":"\u0e44\u0e17\u0e22","NationEn":"Thai","Province":"\u0e20\u0e39\u0e40\u0e01\u0e47\u0e15","ProvinceId":42,"District":"\u0e16\u0e25\u0e32\u0e07","ProvinceEn":"Phuket","Detail":null},{"ConfirmDate":"2020-05-02 00:00:00","No":"2962","Age":22,"Gender":"\u0e2b\u0e0d\u0e34\u0e07","GenderEn":"Female","Nation":"\u0e44\u0e17\u0e22","NationEn":"Thai","Province":"\u0e01\u0e23\u0e38\u0e07\u0e40\u0e17\u0e1e\u0e21\u0e2b\u0e32\u0e19\u0e04\u0e23","ProvinceId":1,"District":"\u0e1a\u0e32\u0e07\u0e0b\u0e37\u0e48\u0e2d","ProvinceEn":"Bangkok","Detail":null},{"ConfirmDate":"2020-05-02 00:00:00","No":"2961","Age":48,"Gender":"\u0e0a\u0e32\u0e22","GenderEn":"Male","Nation":"\u0e44\u0e17\u0e22","NationEn":"Thai","Province":"\u0e20\u0e39\u0e40\u0e01\u0e47\u0e15","ProvinceId":42,"District":"\u0e16\u0e25\u0e32\u0e07","ProvinceEn":"Phuket","Detail":null},{"ConfirmDate":"2020-05-01 00:00:00","No":"2960","Age":39,"Gender":"\u0e2b\u0e0d\u0e34\u0e07","GenderEn":"Female","Nation":"\u0e44\u0e17\u0e22","NationEn":"Thai","Province":"\u0e22\u0e30\u0e25\u0e32","ProvinceId":47,"District":"\u0e1a\u0e31\u0e19\u0e19\u0e31\u0e07\u0e2a\u0e30\u0e15\u0e32","ProvinceEn":"Yala","Detail":None},{"ConfirmDate":"2020-05-01 00:00:00","No":"2959","Age":54,"Gender":"\u0e2b\u0e0d\u0e34\u0e07","GenderEn":"Female","Nation":"\u0e44\u0e17\u0e22","NationEn":"Thai","Province":"\u0e22\u0e30\u0e25\u0e32","ProvinceId":47,"District":"\u0e1a\u0e31\u0e19\u0e19\u0e31\u0e07\u0e2a\u0e30\u0e15\u0e32","ProvinceEn":"Yala","Detail":None}
df2=pd.DataFrame(dictt)
df2

,Age,ConfirmDate,Detail,District,Gender,GenderEn,Nation,NationEn,No,Province,ProvinceEn,ProvinceId
0,24,2020-05-03 00:00:00,None,จะแนะ,ชาย,Male,ไทย,Thai,2969,นราธิวาส,Narathiwat,25
1,51,2020-05-03 00:00:00,None,บึงกุ่ม,หญิง,Female,ไทย,Thai,2968,กรุงเทพมหานคร,Bangkok,1
2,35,2020-05-03 00:00:00,None,คลองจั่น,ชาย,Male,ไทย,Thai,2967,กรุงเทพมหานคร,Bangkok,1
3,51,2020-04-04 00:00:00,None,,ชาย,Male,สหราชอาณาจักร,British,None,กรุงเทพมหานคร,Bangkok,1
4,52,2020-05-02 00:00:00,None,พระนคร,หญิง,Female,ไทย,Thai,2966,กรุงเทพมหานคร,Bangkok,1
5,52,2020-05-02 00:00:00,None,ดินแดง,ชาย,Male,ไทย,Thai,2965,กรุงเทพมหานคร,Bangkok,1
6,21,2020-05-02 00:00:00,None,ถลาง,หญิง,Female,ไทย,Thai,2964,ภูเก็ต,Phuket,42
7,58,2020-05-02 00:00:00,None,ถลาง,หญิง,Female,ไทย,Thai,2963,ภูเก็ต,Phuket,42
8,22,2020-05-02 00:00:00,None,บางซื่อ,หญิง,Female,ไทย,Thai,2962,กรุงเทพมหานคร,Bangkok,1
9,48,2020-05-02 00:00:00,None,ถลาง,ชาย,Male,ไทย,Thai,2961,ภูเก็ต,Phuket,42
10,39,2020-05-01 00:00:00,None,บันนังสะตา,หญิง,Female,ไทย,Thai,2960,ยะลา,Yala,47
11,54,2020-05-01 00:00:00,None,บันนังสะตา,หญิง,Female,ไทย,Thai,2959,ยะลา,Yala,47

In [10]:
df3=pd.DataFrame([[1,'pokmon','digimon'],[2,'digimon','pokemon']])
df3

   0        1        2
0  1   pokmon  digimon
1  2  digimon  pokemon